
    <p>📣 ¡Atención! 🌟</p>
    <p>Si buscas [un producto/servicio excepcional], ¡estás en el lugar correcto!</p>
    <p>👀 No te pierdas esta oportunidad única de ser parte de [nuestro servicio/producto].</p>
    <p>📞 Contáctanos ya y descubre una experiencia diferente con nosotros.</p>
    <p>🌐 Más información en [Sitio Web o Redes Sociales].</p>

    <p></p>

    <img src="Anuncios/Imagen Anuncio.jpg" alt="this is a image" width="400" />

    <p></p>

    <video width="400" onclick="this.controls=0; this.paused || this.ended ? this.play() : this.pause();"> <source src="Anuncios/AnuncioVideo.mp4" type="video/mp4"></video>
  


